h1, h2, h3, h4, h5, h6, p, address, ul, ol, li, dl, dt, dd, table, th, td, img, form {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.6;
	border: none;
	list-style-type: none;
}

/*reset*/
.mt3{margin-top:3px;}
.mt10{margin-top:10px;}
.mt40{margin-top:40px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.ml40{margin-left:40px;}
.ml60{margin-left:60px;}
.ml80{margin-left:80px;}
.ml100{margin-left:100px;}
.ml143{margin-left:143px;}
.ml190{margin-left:190px;}
.ml240{margin-left:240px;}
.ml243{margin-left:243px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.re_select{width:118px;font-size:16px;}
.w50{width:50px;}
.w60{width:60px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w300{width:300px;}
.w500{width:500px;}
.tcenter{text-align:center;}
.mg0{margin:0;}
.pd0{padding:0;}
.fl{float: left;}
.border1{border-bottom: 1px solid rgb(235,235,235);}
.ftsize18{font-size: 18px;}

body {
	background-color: rgb(220,220,220);
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	clear: both;
}
/*slidebar*/
.slidebar {
	width: 198px;
	height: 100%;
	float: left;
	border: 1px solid rgb(235,235,235);
	background-color: rgb(247,247,247);
}
.slidebar .logo {
	height: 145px;
	border-bottom: 1px solid rgb(235,235,235);
}
.slidebar ul {
	padding: 0;
	margin:0;
}
.slidebar li {
	list-style-type: none;
	margin: 0;
	position: relative;
}
.slidebar li:before {
	content: "";
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: absolute;
	display: block;
	line-height: 40px;
	color: rgb(102,102,102);
	right: 20px;
	-webkit-font-smoothing: antialiased;
}
/*icon*/
.slidebar li:nth-child(1):before {content: "\61";}
.slidebar li:nth-child(2):before {content: "\67";}
.slidebar li:nth-child(3):before {content: "\74";}
.slidebar li:nth-child(4):before {content: "\62";}
.slidebar li:nth-child(5):before {content: "\65";}
.slidebar li:nth-child(6):before {content: "\64";}
.slidebar li:nth-child(7):before {content: "\68";}

.slidebar ul a {
	color: rgb(140,140,140);
	text-decoration: none;
	font:16px/40px helvetica,verdana,sans-serif;
	box-sizing:border-box;
	border-bottom: 1px solid rgb(235,235,235);
	display: block;
	box-shadow:inset 0 1px 0 rgb(255,255,255);
	text-indent: 20px;
	text-transform: capitalize;
}
.slidebar li:hover a {
	background-color: rgb(255,255,255);
	box-shadow: 1px 0 0 rgb(255,255,255),inset 5px 0 0 -1px rgb(234,83,63);
}
/*main*/
.main {
	float: left;
	width: 100%;
	height: 2048px;
	background-color: rgb(255,255,255);
	position: relative;
	font-family: helvetica,verdana,sans-serif;
}
.main .topbar {
	border-bottom: 1px solid rgb(235,235,235);
	margin: 0;
	padding: 0;
}
.main table,.main th,.main tr,.main td {
    font-size:16px;
}
.main td span{
    font-size:12px;
}
/*topbar*/
.top_title{
	text-align:center;
	border-bottom: 1px solid rgb(235,235,235);
	padding-bottom: 2px;
	padding-top: 20px;
	font-size: 26px;
	font-weight: bold;
}
.topbar li {
	float: right;
	list-style: none;
}
.topbar li:first-child {float: left;}
.topbar a {
	font-family: 'icomoon';
	display: block;
	line-height: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: rgb(102,102,102);
	border-left: 1px solid rgb(235,235,235);
}
.topbar a:hover {
	background-color: rgb(247,247,247);
}
.topbar li:first-child a {
	border: none;
	border-right: 1px solid rgb(235,235,235);
}
/*mainContent*/
.mainContent h4 {
	line-height: 1;
	font-size: 18px;
	margin: 1.3em 0 1em;
	margin-left: 17px;
}

.mainContent>div {
	position: absolute;
	opacity: 1;
	-webkit-transition:opacity 200ms linear;
	-moz-transition:opacity 200ms linear;
	-ms-transition:opacity 200ms linear;
	transition:opacity 200ms linear;
}

/*opacity*/
.mainContent>div:target {
	opacity: 1;
}

.mainContent h2 {
	margin:1em 30px;
	color: rgb(234,83,63);
	font-size: 20px;
}
.mainContent h2:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;
	-webkit-font-smoothing: antialiased;
}
.mainContent div:nth-child(1) h2:before {content: "\63";}
.mainContent div:nth-child(2) h2:before {content: "\64";}
.mainContent div:nth-child(3) h2:before {content: "\62";}
.mainContent div:nth-child(4) h2:before {content: "\65";}
.mainContent div:nth-child(5) h2:before {content: "\74";}
.mainContent div:nth-child(6) h2:before {content: "\66";}
.mainContent div:nth-child(7) h2:before {content: "\67";}
.mainContent div:nth-child(8) h2:before {content: "\68";}
.mainContent div:nth-child(9) h2:before {content: "\69";}
.mainContent div:nth-child(10) h2:before {content: "\6a";}
.mainContent div:nth-child(11) h2:before {content: "\75";}

#dashboard>div {
	border: 1px solid rgb(235,235,235);
	margin-left: 30px;
	float: left;
	border-radius: 5px;
	min-width: 345px;
	height: 262px;
	display: inline-block;
}
.monitor ul {
	float: left;
	padding: 0;
	margin: 0 31px 0 17px;
}
.monitor li {
	list-style:none;
	font: 600 14px/28px helvetica,verdana,sans-serif;
	color: rgb(102,102,102);
	text-transform: capitalize;
}
.monitor li a {
	color: rgb(102,102,102);
	text-transform: capitalize;
	text-decoration: none;
}
.monitor li:first-child {
	border-bottom: 1px dotted rgb(153,153,153);
}
.discussions .comments {color: rgb(27,106,173);}
.discussions .approved {color: rgb(105,174,48);}
.discussions .pending {color: rgb(246,129,15);}
.discussions .spam {color: rgb(243,47,47);}
.monitor .count {
	color: rgb(27,106,173);
	text-align: right;
	font-weight: 600;
	margin-right: 15px;
	min-width: 25px;
	display: inline-block;
}
.monitor p {
	color: rgb(128,128,128);
	margin: 28px 0 18px 17px;
	display: block;
	font-weight: 600;
	font-size: 12px;
}
.monitor p a {
	text-decoration: none;
	color:rgb(27,106,173);
}
.quick-press form {
	margin:0 20px 0 13px;
}
.quick-press input[type="text"] {
	display: block;
	width: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: 35px;
	line-height: 15px;
	padding: 10px 0;
	margin:0 0 7px 0;
	background-color: rgb(246,246,246);
	outline: none;
	border: none;
	text-indent: 10px;
}
/*placeholder*/
.quick-press input[type="text"]::-webkit-input-placeholder {font-size: 14px;}
.quick-press input[type="text"]:-moz-input-placeholder {font-size: 14px;}
.quick-press input[type="text"]::-moz-input-placeholder {font-size: 14px;}
.quick-press input[type="text"]:-ms-input-placeholder {font-size: 14px;}

.quick-press button {
	margin-top: 13px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	padding: 0;
}
.quick-press .save, .quick-press .delet {
	font-family: 'icomoon';
	width: 37px;
	background: -webkit-linear-gradient(top,rgb(246,246,240),rgb(232,232,232));
	background: -moz-linear-gradient(top,rgb(246,246,240),rgb(232,232,232));
	background: -ms-linear-gradient(top,rgb(246,246,240),rgb(232,232,232));
	background: linear-gradient(top,rgb(246,246,240),rgb(232,232,232));
	border: 1px solid rgb(229,229,229);
	color: rgb(102,102,102);
	float: left;
	margin-right: 5px;
}
.quick-press .save:hover, .quick-press .delet:hover {
	background: -webkit-linear-gradient(top,rgb(232,232,232),rgb(246,246,240));
	background: -moz-linear-gradient(top,rgb(232,232,232),rgb(246,246,240));
	background: -ms-linear-gradient(top,rgb(232,232,232),rgb(246,246,240));
	background: linear-gradient(top,rgb(232,232,232),rgb(246,246,240));
}
.quick-press .save:active, .quick-press .delet:active {
	background: -webkit-linear-gradient(top,rgb(228,228,228),rgb(210,210,210));
	background: -moz-linear-gradient(top,rgb(228,228,228),rgb(210,210,210));
	background: -ms-linear-gradient(top,rgb(228,228,228),rgb(210,210,210));
	background: linear-gradient(top,rgb(228,228,228),rgb(210,210,210));
}
.quick-press .submit {
	float: right;
	width: 70px;
	border: 1px solid rgb(238,85,64);
	color: #fff;
	font-size: 16px;
	background: -webkit-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: -moz-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: -ms-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
}
.quick-press .submit:hover {
	background: -webkit-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: -moz-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: -ms-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
}
/*statusbar*/
.statusbar {
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid rgb(235,235,235);
	width: 100%;
	padding: 0;
	margin: 0;
}
.statusbar li {
	list-style: none;
}
.statusbar a {
	color: rgb(102,102,102);
	text-decoration: none;
	text-align: center;
	display: block;
}
.statusbar a:hover {
	background-color: rgb(247,247,247);
}
.statusbar .home, .statusbar .logout {
	float: right;
}
.statusbar .home a, .statusbar .logout a {
	font-family: 'icomoon';
	width: 39px;
	height: 39px;
	line-height: 40px;
	border-left: 1px solid rgb(235,235,235);
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype'),
	url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* form */
.search_label{float:left;height:28px;margin-right:15px;padding-top:4px;}
.subtitle {
	width:100%;
	background-color: black;
	color: #FFFFFF;
	height: 39px;
	padding-top:13px;
	font-size:16px;
}
.input-area {
	padding:20px;
	border-bottom: 1px solid rgb(235,235,235);
	min-height:40px;
}
.input-area form {
	margin:0 20px 0 13px;
}
.input-area input[type="text"],input[type="password"] {
	float: left;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: 32px;
	line-height: 15px;
	padding: 9px 0;
	margin:0 0 7px 0;
	background-color: rgb(246,246,246);
	outline: none;
	border: none;
	text-indent: 10px;
	font-size: 15px;
}
.input-area label{ 
	float: left; 
	height: 32px;
	line-height: 15px;
	padding: 7px 0;
	margin:0px 20px 7px 20px;
	font-size: 15px;
}
.input-area input[type="checkbox"]{ 
	float: left; 
	height: 28px;
	padding: 9px 0;
	font-size: 15px;
}
.input-span{
    float: left;
    height: 32px;
    line-height: 15px;
    padding: 9px 0;
    font-size: 15px;
}
.input-area textarea { 
	width:500px;height:200px;margin-bottom:7px;
	font-size: 15px;
}
.input-area input[type="text"]::-webkit-input-placeholder {font-size: 14px;}
.input-area input[type="text"]:-moz-input-placeholder {font-size: 14px;}
.input-area input[type="text"]::-moz-input-placeholder {font-size: 14px;}
.input-area input[type="text"]:-ms-input-placeholder {font-size: 14px;}

.input-buttons {
    margin-top: 13px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    padding: 0;
}
.input-area .submit {
	float: right;
	width: 70px;
	border: 1px solid rgb(238,85,64);
	color: #fff;
	font-size: 16px;
	background: -webkit-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: -moz-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: -ms-linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
	background: linear-gradient(top,rgb(245,101,82),rgb(234,83,63));
}
.input-area .submit:hover {
	background: -webkit-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: -moz-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: -ms-linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
	background: linear-gradient(top,rgb(220,85,70),rgb(210,65,53));
}


/* select
select{outline:none;}
ul{list-style:none;}
a{text-decoration:none;}
select{display: none;}
.select_box{position:relative;float:left;margin:0 10px;}
.select_showbox{height:28px;display:inline-block;border:1px solid #d2ccc4;background:#fcfcfb url(img/ico.gif) no-repeat 97px center;line-height:28px;font-weight:bold;padding-left:10px;cursor:pointer;width:90px;padding-right:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;z-index:99;}
.select_showbox:hover,.select_showbox.cur{border:1px solid #409DFE;box-shadow:0 0 3px #409DFE;}
.select_option{position:absolute;left:0;top:29px;border:1px solid #d2ccc4;background:#fff;display:none;}
.select_option ul{padding:4px;width:104px;max-height:250px;overflow:auto;}
.select_option ul.selected{line-height:28px;display:block;padding:0 8px;}
.select_option li{width:112px;}
.select_option li.hover{background:#f5f5f5;}
*/

/* BUTTON */
.buttonS, .buttonM, .buttonL, .buttonH, [class*="tablectrl"] {  font-size: 14px; color: #fff; font-weight: bold; text-shadow: 0 -1px #6f6f6f; display: inline-block; line-height: 14px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.buttonS span, .buttonM span, .buttonL span, .buttonH span { text-shadow: 0 1px 0 #6f6f6f; margin-left: 10px; }
.buttonS { padding: 5px 14px; }
.buttonM { padding: 7px 15px; }
.buttonL { padding: 8px 18px; }
.buttonH { float: right; padding: 5px 14px; color: #fff!important; }
.bGreen:hover, .bRed:hover, .bBlue:hover, .bGreyish:hover, .bBlack:hover, .bLightBlue:hover, .bGold:hover, .bSea:hover, .bBrown:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }

.bDefault, .dualBtn, .searchLine button { border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #686868; text-shadow: none;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}

.bDefault:hover, .dualBtn:hover, .searchLine button:hover { -webkit-transition: box-shadow 0.05s ease-in-out; -moz-transition: box-shadow 0.05s ease-in-out; transition: box-shadow 0.05s ease-in-out;
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
background: linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
 }
.bDefault:active, .dualBtn:active, .titleToolbar > li > a:active, .titleOpt > a:active, .searchLine button:active { background: #eee; color: #505050; border-color: #c0c0c0; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bDefault span { text-shadow: none; }

.bGreen { border: 1px solid #68a341; box-shadow: 0 1px 2px 0 #a4ca6c inset; -webkit-box-shadow: 0 1px 2px 0 #a4ca6c inset; -moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
background: #96c161;
background: -moz-linear-gradient(top,  #96c161 0%, #609c3d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c161), color-stop(100%,#609c3d));
background: -webkit-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: -o-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: -ms-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: linear-gradient(top, #96c161 0%,#609c3d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c161', endColorstr='#609c3d',GradientType=0 );
 }
.bGreen:active { background: #74aa49; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bRed {  border: 1px solid #a95151; box-shadow: 0 1px 2px 0 #cd8787 inset; -webkit-box-shadow: 0 1px 2px 0 #cd8787 inset; -moz-box-shadow: 0 1px 2px 0 #cd8787 inset;
background: #c57979;
background: -moz-linear-gradient(top,  #c57979 0%, #a34c4c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c57979), color-stop(100%,#a34c4c));
background: -webkit-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: -o-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: -ms-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
background: linear-gradient(top,  #c57979 0%,#a34c4c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c57979', endColorstr='#a34c4c',GradientType=0 );
}
.bRed:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bRed:active { background: #b15e5e; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bBlue {  border: 1px solid #3e76af; box-shadow: 0 1px 2px 0 #66b2d2 inset; -webkit-box-shadow: 0 1px 2px 0 #66b2d2 inset; -moz-box-shadow: 0 1px 2px 0 #66b2d2 inset;
background: #5ba5cb;
background: -moz-linear-gradient(top,  #5ba5cb 0%, #3a70ab 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab));
background: -webkit-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: -o-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: -ms-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba5cb', endColorstr='#3a70ab',GradientType=0 );
}
.bBlue:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlue:active { background: #4786b8; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bGreyish { border: 1px solid #5e6779; box-shadow: 0 1px 2px 0 #9ca6b3 inset; -webkit-box-shadow: 0 1px 2px 0 #9ca6b3 inset; -moz-box-shadow: 0 1px 2px 0 #9ca6b3 inset;
background: #8c97a6;
background: -moz-linear-gradient(top,  #8c97a6 0%, #596171 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c97a6), color-stop(100%,#596171));
background: -webkit-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: -o-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: -ms-linear-gradient(top,  #8c97a6 0%,#596171 100%);
background: linear-gradient(top,  #8c97a6 0%,#596171 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97a6', endColorstr='#596171',GradientType=0 ); 
}
.bGreyish:active { background: #6d7787; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bBlack {  border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #959595 inset; -webkit-box-shadow: 0 1px 2px 0 #959595 inset; -moz-box-shadow: 0 1px 2px 0 #959595 inset;
background: #838383;
background: -moz-linear-gradient(top,  #838383 0%, #444444 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(100%,#444444));
background: -webkit-linear-gradient(top,  #838383 0%,#444444 100%);
background: -o-linear-gradient(top,  #838383 0%,#444444 100%);
background: -ms-linear-gradient(top,  #838383 0%,#444444 100%);
background: linear-gradient(top,  #838383 0%,#444444 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#444444',GradientType=0 ); 
}
.bBlack:active { background: #5d5d5d; box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; }

.bLightBlue { border: 1px solid #5897c3; box-shadow: 0 1px 2px 0 #84c4dd inset; -webkit-box-shadow: 0 1px 2px 0 #84c4dd inset; -moz-box-shadow: 0 1px 2px 0 #84c4dd inset;
background: #6db5d5;
background: -moz-linear-gradient(top,  #6db5d5 0%, #4a91c0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db5d5), color-stop(100%,#4a91c0));
background: -webkit-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
background: -o-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
background: -ms-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
background: linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db5d5', endColorstr='#4a91c0',GradientType=0 );
}
.bLightBlue:active { background: #559cc7; box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #808080 inset, 0 1px 0 #fff; }

.bGold { border: 1px solid #c4853e; box-shadow: 0 1px 2px 0 #ddb65b inset; -webkit-box-shadow: 0 1px 2px 0 #ddb65b inset; -moz-box-shadow: 0 1px 2px 0 #ddb65b inset;
background: #d5a44c;
background: -moz-linear-gradient(top,  #d5a44c 0%, #c07833 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5a44c), color-stop(100%,#c07833));
background: -webkit-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
background: -o-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
background: -ms-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
background: linear-gradient(top,  #d5a44c 0%,#c07833 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5a44c', endColorstr='#c07833',GradientType=0 );
}
.bGold:active { background: #ca8e40; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bSea {  border: 1px solid #5a837e; box-shadow: 0 1px 2px 0 #95b8b6 inset; -webkit-box-shadow: 0 1px 2px 0 #95b8b6 inset; -moz-box-shadow: 0 1px 2px 0 #95b8b6 inset;
background: #7ca6a3;
background: -moz-linear-gradient(top,  #7ca6a3 0%, #547b76 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ca6a3), color-stop(100%,#547b76));
background: -webkit-linear-gradient(top,  #7ca6a3 0%,#547b76 100%);
background: -o-linear-gradient(top,  #7ca6a3 0%,#547b76 100%);
background: -ms-linear-gradient(top,  #7ca6a3 0%,#547b76 100%);
background: linear-gradient(top,  #7ca6a3 0%,#547b76 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ca6a3', endColorstr='#547b76',GradientType=0 );
}
.bSea:active { background: #68918d; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bBrown {  border: 1px solid #9c6b3c; box-shadow: 0 1px 2px 0 #c8a85f inset; -webkit-box-shadow: 0 1px 2px 0 #c8a85f inset; -moz-box-shadow: 0 1px 2px 0 #c8a85f inset;
background: #bb934f;
background: -moz-linear-gradient(top,  #bb934f 0%, #996336 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb934f), color-stop(100%,#996336));
background: -webkit-linear-gradient(top,  #bb934f 0%,#996336 100%);
background: -o-linear-gradient(top,  #bb934f 0%,#996336 100%);
background: -ms-linear-gradient(top,  #bb934f 0%,#996336 100%);
background: linear-gradient(top,  #bb934f 0%,#996336 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb934f', endColorstr='#996336',GradientType=0 );
}
.bBrown:active { background: #ad7f45; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }
.td-width {width:100%;}

