@charset "UTF-8";

@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed");

html {
     font-size: 62.5%;
}

body {
     background: #f8f8f8 none repeat scroll 0% 0%;
     color: #444444;
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1.8;
     margin: 0px;
     overflow-x: visible;
     padding: 0px;
     word-wrap: break-word;
     font-family:"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

body * {
    
}

a {
     color: #f3468c;
     cursor: pointer;
     text-decoration: none;
     transition: all 0s ease 0s, all 0.25s ease 0s, all 0s linear 0s;
}

a:hover {
     color: #f0166e;
     text-decoration: underline;
}

ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
}

.contents {
     margin: 0px auto;
     max-width: 920px;
     min-width: 320px;
}

.title01 {
     color: black;
     font-size: 2.5rem;
     font-weight: bold;
     margin: 0px 16px 100px;
}

.title02 {
     color: black;
     font-size: 2rem;
     font-weight: bold;
     margin: 0px 0px 30px;
}

.title03 {
     font-size: 1.6rem;
     font-weight: normal;
     margin: 0px 0px 30px;
}

.text {
     margin: 0px;
}

.sub {
     font-size: 1.15rem;
}

.demo {
     margin: 0px 0px 200px;
}

.demo a {
     display: block;
}

.demo .child {
     background: #ffffff none repeat scroll 0% 0%;
     border: 1px solid #eaeaea;
     display: none;
     margin: 0px 0px -1px;
     padding: 0px;
}

.demo .child .menu {
     background: #FFFF00 none repeat scroll 0% 0%;
     color: #000;
}

.demo .child .menu:hover {
     background: #FFFF00 none repeat scroll 0% 0%;
}

.demo .child > li {
     border-bottom: 1px dotted #dddddd;
     margin: 4px 0px;
     padding: 0px 5px;
}

.demo .child > li:last-child {
     border-bottom: 0px none;
}

.switch .menu::after {
     content: ">";
     font-size: 1.4rem;
     font-weight: bold;
     margin-top: -1.4rem;
     position: absolute;
     right: 10px;
     top: 50%;
     transform: rotate(90deg);
     transition: all 0s ease 0s, all 0.25s ease 0s, all 0s linear 0s;
}

.switch .menu.active::after {
     transform: rotate(-90deg);
}

.child01 {
     border: 1px solid #eaeaea;
}

.child02 {
     color: #5e5e5e;
}

.menu {
     display: block;
     margin: 1px 0px 0px;
     padding: 10px 30px 10px 10px;
     position: relative;
}

.source {
     margin: 0px;
     padding: 30px 0px 0px;
}

.demo03 .menu {
     background: #ee3366 none repeat scroll 0% 0%;
     color: #ffffff;
}

.demo03 .menu:hover {
     background: #c41041 none repeat scroll 0% 0%;
     text-decoration: none;
}

.demo04 .menu {
     background: #22ccdd none repeat scroll 0% 0%;
     color: #ffffff;
}

.demo04 .menu:hover {
     background: #1997a4 none repeat scroll 0% 0%;
     text-decoration: none;
}

.demo05 .child > li {
     border-bottom: 0px none;
}

.demo05 .menu {
     background: #FFFF00 none repeat scroll 0% 0%;
     color: #000;
}

.demo05 .menu:hover {
     background: #FFFF00 none repeat scroll 0% 0%;
     text-decoration: none;
}
