@charset "utf-8";
body {
	padding: 0px;
	height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.wwap {
	background-color: #f8f8f8;
	float: left;
	height: 50em;
	width: 100%;
}
.wwap ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.wwap ul li {
	float: left;
	height: 113px;
	width: 100%;
	border-bottom:#2c2c2c 2px solid;
}
.mg {
	float: left;
	height: 113px;
	width: 160px;
}
.mg img {
	max-height: 100%;
	width:100%;
}
.rwen {
	float: left;
	height: 113px;
	width: 160px;
	background:#f8f8f8;
}
.dat {
	float: left;
	height: 35px;
	width: 100%;
}

.dat .rili {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #888;
	width:50px;
	margin-left:10px;
	float:left;
}
.dat .rilai {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #888;
	width:50px;
	margin-right:10px;
	float:right;
}
.nr {
	float: left;
	height: 73px;
	width: 140px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 9px;
	color: #2c2c2c;
	font-family: "Arial Black", Gadget, sans-serif;
	line-height: 15px;
}

.dat .rilai a {
	font-size: 9px;
	color: #FFF;
	text-decoration: none;
	background-color: #f87642;
	float: left;
	height: 12px;
	width: 30px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	text-align:center;
}
.wwap .xxtu {
	float: left;
	height: 220px;
	width: 100%;
}
.wwap .xxtu img {
	width: 100%;
	height:100%;
}
.wwap .xxnr {
	float: left;
	height: 20em;
	width: 96%;
	padding-top: 10px;
	padding-right: 2%;
	padding-left: 2%;
	background-color: #f8f8f8;
}
.wwap .xxnr .tit {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	line-height: 15px;
	color: #000;
}
.wwap .xxnr .xxnrw {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #333;
	margin-top:0;
	width:100%;
}
.wap {
	background-color: #fff;
	float: left;
	height: auto;
	width: 94%;
	padding:1em 3%;
}.dzsk {
	/*background-attachment: scroll;
	background-image: url(imgs/dzsbg.png);
	background-repeat: repeat;
	background-position: center top;*/
	float: left;
	min-height: 36em;
	width: 100%;
	height:auto;
	background:#fff;
}
.dzsk .leihang {
	float: left;
	height: 2em;
	width: 94%;
	margin:0 3%;
}
tr{border:1px solid #a9a9a9;}

td a{ 
 text-decoration:none;}
 
 .btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14px;
}
.btn-group > .btn {
    border-radius: 0;
    position: relative;
}
.btn:first-child {
}
button.btn, input.btn[type="submit"] {
}
.btn-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius:4px;
	padding: 4px 12px;
}

.dropdown-toggle {
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}